@font-face {
  font-family: 'QX Bariol';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/QXBariolRegular.eot');
  src: local('QX Bariol Regular'), local('QXBariolRegular'), /*local*/ url('../fonts/QXBariolRegular.eot?#iefix') format('embedded-opentype'), /*embedded-opentype*/ url('../fonts/QXBariolRegular.woff2') format('woff2'), /*woff2*/ url('../fonts/QXBariolRegular.woff') format('woff'), /*woff*/ url('../fonts/QXBariolRegular.ttf') format('truetype'), /*truetype*/ url('../fonts/QXBariolRegular.svg#QXBariolRegular') format('svg');
  /*svg*/
}
@font-face {
  font-family: 'SVN-Servetica-Medium';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/SVN-Servetica-Medium.eot');
  src: local('SVN Servetica Medium'), local('SVN-Servetica-Medium'), /*local*/ url('../fonts/SVN-Servetica-Medium.eot?#iefix') format('embedded-opentype'), /*embedded-opentype*/ url('../fonts/SVN-Servetica-Medium.woff2') format('woff2'), /*woff2*/ url('../fonts/SVN-Servetica-Medium.woff') format('woff'), /*woff*/ url('../fonts/SVN-Servetica-Medium.ttf') format('truetype'), /*truetype*/ url('../fonts/SVN-Servetica-Medium.svg#SVN-Servetica-Medium') format('svg');
  /*svg*/
}
.main-title {
  font-family: SVN-Servetica-Medium, Helvetica Neue, Helvetica, Arial, sans-serif, Yu Mincho !important;
  font-size: 2em !important;
}
.u7ha1-chapter {
  font-family: 'QX Bariol', Quicksand-Regular, Arial, sans-serif, Yu Mincho !important;
  font-size: 22px !important;
  line-height: 1.75 !important;
  margin: 3em 0;
  text-align: justify;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.u7ha1-chapter #more-info {
  font-size: 22px !important;
  line-height: 1.25;
  position: fixed;
  z-index: 9999;
  display: none;
  max-width: 360px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.u7ha1-chapter #more-info > .container {
  padding: .5em;
}
.u7ha1-chapter #more-info.show {
  z-index: 9999;
  display: block;
}
.u7ha1-chapter #more-info .content:empty,
.u7ha1-chapter #more-info .furigana:empty,
.u7ha1-chapter #more-info .romanji:empty,
.u7ha1-chapter #more-info .han-viet:empty,
.u7ha1-chapter #more-info .meaning:empty {
  display: none;
}
.u7ha1-chapter #more-info .content {
  font-weight: bold;
  color: #b71c1c;
}
.u7ha1-chapter #more-info .furigana {
  font-weight: bold;
  color: #1b5e20;
}
.u7ha1-chapter #more-info .han-viet {
  color: #9c27b0;
}
.u7ha1-chapter #more-info .han-viet:before {
  content: '「';
}
.u7ha1-chapter #more-info .han-viet:after {
  content: '」';
}
.u7ha1-chapter #more-info .romanji {
  font-style: italic;
  color: #616161;
}
.u7ha1-chapter #more-info .meaning {
  color: #1976d2;
}
.u7ha1-chapter #more-info .meaning:before {
  font-size: .75em;
  margin-right: .5em;
  content: '◆';
}
.u7ha1-chapter #more-info > .arrow {
  position: fixed;
  width: 0;
  height: 0;
  border-top: 10px solid rgba(0, 0, 0, 0.2);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
.u7ha1-chapter #more-info > .arrow > div {
  position: absolute;
  top: -10px;
  left: -9px;
  width: 0;
  height: 0;
  border-top: 9px solid #fff;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}
.u7ha1-chapter[region='vocabulary'] .heading-1 {
  font-weight: bold;
  margin-top: 1.5em;
  color: #fff;
  background-color: #000;
}
.u7ha1-chapter[region='vocabulary'] .vocabulary {
  text-align: left;
}
.u7ha1-chapter[region='vocabulary'] .vocabulary:nth-child(even) {
  color: #000;
  background: #f5f5f5;
}
.u7ha1-chapter[region='vocabulary'] .vocabulary:nth-child(odd) {
  color: #000;
  background: #bdbdbd;
}
.u7ha1-chapter[region='vocabulary'] .vocabulary .content {
  font-weight: bold;
}
.u7ha1-chapter[region='vocabulary'] .vocabulary .romanji {
  font-style: italic;
}
.u7ha1-chapter[region='grammar'] .heading-1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: .25em;
  margin-bottom: .25em;
  padding-top: .25em;
  padding-bottom: .25em;
  color: #2196f3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2196f3;
}
.u7ha1-chapter[region='grammar'] .heading-2 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: .25em;
}
.u7ha1-chapter[region='grammar'] .numbering::after {
  content: '\0009';
}
.u7ha1-chapter[region='grammar'] .numbering.circle {
  font-size: .75em;
  line-height: 1.5em;
  display: inline-block;
  width: 1.5em;
  text-align: center;
  border: #000 solid 1px;
  border-radius: 50%;
}
.u7ha1-chapter[region='grammar'] .segment {
  margin-bottom: 1em;
}
.u7ha1-chapter[region='grammar'] .text.bold {
  font-weight: bold;
}
.u7ha1-chapter[region='grammar'] .text.blue {
  color: #2196f3;
}
.u7ha1-chapter[region='grammar'] .vocabulary {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.u7ha1-chapter[region='grammar'] .vocabulary:hover {
  color: #b71c1c;
}
.u7ha1-chapter[region='grammar'] .vocabulary > ruby {
  text-align: center;
}
.u7ha1-chapter[region='grammar'] .vocabulary > ruby > rt {
  font-size: 70% !important;
  line-height: normal;
  text-align: center;
}
.u7ha1-chapter[region='grammar'] .vocabulary > rb {
  font-size: 60% !important;
  font-style: italic;
  line-height: 0;
  display: block;
  height: 0;
  text-align: center;
}
.u7ha1-chapter[region='grammar'] .vocabulary.furigana {
  /*> rb
        {
            //transform: translateY(@font-size + 1.625em);
            @font-size: 1em/.6;
        }*/
}
